# Virtual Environments
.venv/
venv/
env/
ENV/

# Python Cache & Compiled Files
__pycache__/
*.pyc
*.pyo
*.pyd

# Secret / Configuration Files
.env

# Project Scratch / Local Logs
C:/Users/smand/.gemini/antigravity/brain/
*.log

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
